@font-face {
  font-family: 'Speed';
  src: url('/public/fonts/speed-speed-700.ttf') format('ttf');
}

body {
    background-color: #0C0A08;
    background-image: url('/img/Ellipse.svg');
    background-size: contain; 
    background-repeat: no-repeat;
    height: -webkit-fill-available;
    scroll-behavior: smooth;
}

.main {
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10em;
}

.slogan {
    background: linear-gradient(90deg, #504835, #E0B20D, #504835);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-family: "Speed", sans-serif;
    font-size: 82px;
}

.main-content {
    width: -webkit-fill-available;
    padding: 0 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5em;
}

.main-txt {
    display: flex;
    width: 45em;
    flex-direction: column;
    align-items: flex-start;
}

.speed {
    color: #E5C71B;
    font-family: "Speed", sans-serif;
    font-size: 36px;
    margin-bottom: 0.5em;
}

.slogan {
  animation: myAnim 1s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
  
  .speed {
    animation: fadeInUp 1s ease-out;
  }
  
  .info {
    animation: fadeInUp 1s ease-out;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  

.info {
  color: #FFFCEE;
  font-family: 'Sen', sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.coins {
  width: 43em;
  padding-top: 5em;
  animation: fadeInUp 1s ease-out;
}

.attention {
  width: 3em;
}

.chain {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 10%;
  right: 5%;
  color: #FFFCEE;
  font-family: 'Sen', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.kIrBar {
  background-color: #0C0A08 !important;
}

.ekybXI:hover {
  background-color: #0C0A08 !important;
  border-color: #E0B20D !important;
}

.jfYPFp { 
  background-color: #0C0A08 !important;
}

.raffle {
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 10em; */
  height: 90vh;
}

.enter {
  background: #E0B20D !important;
  padding: 0.5em 1em;
  font-family: "Speed", sans-serif;
  font-size: 28px;
  color: #0C0A08 !important;
  margin: 2em 0;
  transition: background-color 0.3s ease, color 0.3s ease;/* Додайте transition для плавних змін */
  animation: myAnim 1s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal forwards;
}

.enter:hover {
  background: #0C0A08 !important; /* Сірий колір при наведенні */
  color: #E0B20D !important; /* Жовтий текст при наведенні */
}

.raffle-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2em 0;
    margin-bottom: 4em;
    width: 100%;
    
}

.raf-coins {
}

.raf-coins-l {
    margin-right: 7rem;
}

.raf-coins-r {
    margin-left: 7rem;
}

.raffle-stat {
  width: 40em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 7%;
}

.winner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat {
  padding: 0.5em 1em;
  font-family: "Speed", sans-serif;
  font-size: 20px;
  color: #E0B20D!important;
}

.stat-win {
  font-size: 32px;
}

.stat-num {
  font-size: 20px !important;
  color: #FFFCEE !important;
  font-family: 'Sen', sans-serif !important;
  font-weight: 400 !important;
}

.win {
  margin: -5% 0;
  width: 55em;
}

.timer {
  position: absolute;
  bottom: 0;
  font-family: "Speed", sans-serif;
  color: #E0B20D;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.prize {
  position: relative;
  
  animation: fadeInUp 2s ease-out;
}

.box-text {
  position: absolute;
  top: 45%; /* Розташовує текст вертикально посередині */
  left: 50%; /* Розташовує текст горизонтально посередині */
  transform: translate(-50%, -50%); /* Це для точного центрування тексту відносно його власної ширини та висоти */
  z-index: 1;
  font-family: "Speed", sans-serif;
  font-size: 36px;
  text-align: center;
  color: #E0B20D !important;
  margin-top: -2em;
  width: max-content;
}

.box-explain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFCEE;
  font-family: 'Sen', sans-serif;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 3em;
  margin-top: -3em;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 4em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 22em;
  height: 28em;
  background: linear-gradient(to top right, #E0B20D, #F9EA94);
  border-radius: 2em;
}

.card-img {
  width: 40%;
}

.card-img-eth {
  margin-top: 2em;
}

.card-img-ticket {
  margin-top: 6em;
  width: 50%;
}

.card-img-prize {
  margin-top: 4em;
  width: 50%;
}

.card-txt {
  margin-bottom: 2em;
  font-family: "Speed", sans-serif;
  font-size: 32px;
  text-align: center;
  color: #0C0A08;
}

.fa > svg {
  color: #FFFCEE;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fa-sm > svg {
  font-size: 48px;
}

.fa-big > svg {
  font-size: 64px;
  margin: 0 -0.4em;
}

.animated > svg {
  opacity: 1;
}